.container {
    padding: 0 !important;
}

body {
    margin: 0 auto;
    background-color: #eee;
    color: #000;
    width: 100%;
    height: 100%;
}

html{
    overflow: hidden;
}

.panel {
    margin: inherit;
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    max-width: inherit;
}

h1, h2, h3 {
    padding: 0 !important;
    font-weight: bold;
}

.box {
    margin: 0px auto;
    border-radius: 10px;
    background-color: inherit;
    color: inherit;
    border: 1px dashed red;
    font-weight: bold;
    padding: 10px;
}

.divider {
    height: 1px;
    border-top: 1px dashed black;
    padding-bottom: 10px;
}

.highlight {
    color: blue
}

.green {
    color: green;
}

.red {
    color: red;
}

.btn-strong {
    font-weight: bold;
}

.qualified,
.steps {
    display: none;
}

h1 { 
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

h2 {
    font-size: 16px;
    margin-top: 5px;
}

.list-group .list-group-item {background:#fff  no-repeat 15px center; padding-left: 40px}